
    
    <%- include("partials/head") %>
  
    



  <body>

    <%- include("partials/navBar") %>

    <!-- <%- include("partials/navBar") %> -->
    
    <div class="container-menu">

    <div class="usuarios">
      <a href="/user" class="btn btn-outline-primary mt-4 btn-lg" 
        ><i class="bx bxs-user bx-lg"></i
          
      ></a>
    </div>
    
    <div class="foro">
      <a href="/foro" class="btn btn-outline-secondary mt-4 btn-lg"
        ><i class="bx bx-chat bx-lg"></i
         
      ></a>
    </div>


  
    
  
  </div>
    
    <%- include("partials/footer") %>
  </body>

