<!-- Head -->
<%- include("partials/head") %>

<body>
  
  

  <header>
    <%- include("partials/navBar") %>
    
    <div class="titulo">
      <h1> Titulo </h1>
    </div>

  </header>

  <main>

    <div class="contenedor">
      <div class="contenedor-card-item">
        <div class="contenedor-card-item-wrapper">
          <div class="contenedor-info">
            <div class="info">
              <p class="titulo">Usuario</p>
              <span class="categoria">Categoría</span>
            </div>
            <div class="fondo"></div>
        </div>
        </div>
      </div>
    </div>

  </main>

</body> 