body {
  /* background-color: black; */

}

h1 {
  color: blue;
  text-align: center;
}

.imagenUsuario {
  background-color: black;
  display: flex;
}

.container{
  /* background-color: aquamarine; */
}