body {
  /* background-color: black; */

}

h1 {
  color: blue;
  text-align: center;
}

.imagenUsuario {
  background-color: black;
  display: flex;
}



.container-menu {
  
  height: 780px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  
   gap: 20px;  
  

}