<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Titulo Programa</title>

    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">

    

        <!-- Enlace archivo CSS personalizado -->
        

        <link rel="stylesheet" href="/css/estilos.css">

    <!-- Enlace a los archivos JavaScript de Bootstrap (jQuery y Popper.js son dependencias)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>

    <script src="sc.js"></script>

     Enlace a tu archivo CSS personalizado (si lo tienes) 
    <link rel="stylesheet" href="default-theme.css">  --> 
</head>








  <!-- ESTILOS -->

  <!-- BOOTSTRAP -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
/>




  <!-- FONT-AWSOME -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

  <!-- BOX-ICONS -->
  <!-- <link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/> -->

  <!-- ESTILOS PROPIOS -->
  <!-- <link rel="stylesheet" href="/css/styles.css" /> -->


  <!-- SCRIPT -->

  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>



 


